In [1]:
import pandas as pd

In [5]:
import os

In [6]:
os.getcwd()

'e:\\new_mlops'

In [11]:
import os
import pandas as pd

folder_path = r'E:\new_mlops\data'

# Get a list of all files in the folder
files = os.listdir(folder_path)

# Assuming all files are CSV, you can concatenate them into a single DataFrame
dfs = [pd.read_csv(os.path.join(folder_path, file)) for file in files]

# Concatenate the DataFrames
df = pd.concat(dfs, ignore_index=True)

# Print unique values in each column
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in {column} column: {unique_values}")

Unique values in age column: [90. 82. 66. 54. 41. 34. 38. 74. 68. 45. 52. 32. 51. 46. 57. 22. 37. 29.
 61. 21. 33. 49. 23. 59. 60. 63. 53. 44. 43. 71. 48. 73. 67. 40. 50. 42.
 39. 55. 47. 31. 58. 62. 36. 72. 78. 83. 26. 70. 27. 35. 81. 65. 25. 28.
 56. 69. 20. 30. 24. 64. 75. 19. 77. 80. 18. 17. 76. 79. 88. 84. 85. 86.
 87.]
Unique values in workclass column: ['?' 'Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc' 'Self-emp-inc'
 'Local-gov' 'Without-pay' 'Never-worked']
Unique values in education column: ['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']
Unique values in education.num column: [ 9. 10.  4.  6. 16. 15. 13. 14.  7. 12. 11.  2.  3.  8.  5.  1.]
Unique values in marital.status column: ['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']
Unique values in occupation column: ['?' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Transport-moving'
 'Handlers-cleaners' 'Sales' 'Farming-fishing' 'Tech-support'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
Unique values in relationship column: ['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']
Unique values in race column: ['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
Unique values in sex column: ['Female' 'Male']
Unique values in hours.per.week column: [40. 18. 45. 20. 60. 35. 55. 76. 50. 42. 25. 32. 90. 48. 15. 70. 52. 72.
 39.  6. 65. 12. 80. 67. 99. 30. 75. 26. 36. 10. 84. 38. 62. 44.  8. 28.
 59.  5. 24. 57. 34. 37. 46. 56. 41. 98. 43. 63.  1. 47. 68. 54.  2. 16.
  9.  3.  4. 33. 23. 22. 64. 51. 19. 58. 53. 96. 66. 21.  7. 13. 27. 11.
 14. 77. 31. 78. 49. 17. 85. 87. 88. 73. 89. 97. 94. 29. 82. 86. 91. 81.
 92. 61. 74. 95.]
Unique values in income column: ['<=50K' '>50K']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  float64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   education.num   32561 non-null  float64
 4   marital.status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   sex             32561 non-null  object
 9   hours.per.week  32561 non-null  float64
 10  income          32561 non-null  object
dtypes: float64(3), object(8)
memory usage: 2.7+ MB